name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  artifact: ${{ github.workspace }}/artifact
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  make_directory:
    runs-on: ubuntu-latest
    outputs:
      dist: ${{steps.make_directory.outputs.dist}}
    steps:
      - name: Make directory
        run: |
          mkdir -p dist
          echo '::set-output name=dist::${{github.workspace}}/dist'
  main:
    name: Nx Cloud - Main Job
    needs: [make_directory]
    uses: nrwl/ci/.github/workflows/nx-cloud-main.yml@v0.3
    with:
      parallel-commands: |
        npx nx workspace-lint
        npx nx format:check
      parallel-commands-on-agents: |
        npx nx affected --target=lint --parallel=3
        npx nx affected --target=test --parallel=3 --ci --code-coverage
        npx nx affected --target=build --parallel=3
      final-commands: |
        cp dist ${{needs.make_directory.outputs.dist}}

  agents:
    name: Nx Cloud - Agents
    uses: nrwl/ci/.github/workflows/nx-cloud-agents.yml@v0.3
    with:
      number-of-agents: 3

  deploy:
    name: Nx Cloud - Deploy
    runs-on: ubuntu-20.04
    needs: [main, make_directory]
    steps:
      - name: List
        run: |
          echo "Listing... ${{needs.make_directory.outputs.dist}}"
          ls -a ${{needs.make_directory.outputs.dist}}
